{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Brian F, Baron</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul class="left-nav">
          <li><a href="/" class="brand-logo">&nbsp;&nbsp;{{ resume.name }}</a></li>
        </ul>
        <ul class="right-nav">
          {% for link in resume.link_set.all %}
          <li><a href="{{ link.href }}">{{ link.name }}</a></li>
          {% endfor %}
          <li><a href="/projects">Projects</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}?next=/"> Logout</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}?next=/">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">

    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer">
    <div class="right">Brian Baron, &copy; Computer Scientist &nbsp;</div>
  </footer>
</body>
</html>